<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@mipmap/logo1"
        android:label="ATHLEAN"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">


        <activity android:name=".Dinner"
            android:screenOrientation="portrait"/>
        <activity android:name=".Snacks"
            android:screenOrientation="portrait"/>
        <activity android:name=".Lunch"
            android:screenOrientation="portrait"/>
        <activity android:name=".Breakfast"
            android:screenOrientation="portrait"/>
        <activity android:name=".MealActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".login1"
                  android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".registration"
                  android:screenOrientation="portrait"/>
        <activity android:name=".diet"
                  android:screenOrientation="portrait"/>
        <activity android:name=".workout"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity1"
            android:screenOrientation="portrait"/>
        <activity android:name=".chest1"
            android:screenOrientation="portrait"/>
        <activity android:name=".abs1"
            android:screenOrientation="portrait"/>
        <activity android:name=".shoulder1"
            android:screenOrientation="portrait"/>
        <activity android:name=".leg1"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".fit"
            android:screenOrientation="portrait"/>
        <activity android:name=".arm"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity3"
            android:screenOrientation="portrait"/>
        <activity android:name=".video1"
            android:screenOrientation="portrait"/>
        <activity android:name=".wk"
            android:screenOrientation="portrait"/>
        <activity android:name=".weeks1"
            android:screenOrientation="portrait"/>
        <activity android:name=".testing"
            android:screenOrientation="portrait"/>
        <activity android:name=".pulse1"
            android:screenOrientation="portrait"/>
        <activity android:name=".timer1"
            android:screenOrientation="portrait"/>
        <activity android:name=".info1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>